body{
    background-color: #1c191a;
}


header
{
    background-color: #303030;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas: "cabecalho cabecalho";
    
}

.Logo
{
    padding: 50px;
    float: left;
}