.cadastro
{
    font-size: 20px;
    margin-top: 60px;
    margin-left: 150px;
    display: block;
    width: 50%;
}
#CC
{
    float: left;
    width: 50%;
    background-color: #07a5c3;
    opacity: 50%;
    color: #1c191a;
}
#CP
{
    float: left;
    width: 50%;
    background-color: #07a5c3;
    opacity: 50%;
    color: #1c191a;
}