.cadastro
{
    font-size: 12px;
    margin-top: 80px;
    margin: 40px;
    text-align: center;
}

.CC
{
    background-color: #f4b324;
    color: #303030;
    border-radius: 15px;
    width: 330px;
    margin: auto;
    box-shadow: 3px 3px 3px #303030;

}

.CP
{
    background-color: #f4b324;
    color: #303030;
    border-radius: 15px;
    width: 330px;

}


.button
{  
    background-color: #f4b324;
    color: #303030;
    border-radius: 15px;
    width: 330px;
    margin: auto;
    box-shadow: 3px 3px 3px #303030;
    padding: 30px;


}


<!--box-shadow: 1px 1px 5px; (sombreado)-->
