body{
    background-color:#1c191a;
    color:#f6e7d8;
    font-family: Helvetica;
    font-size: 16px;
}



.menu{
    background-color: #303030;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas: "cabecalho cabecalho";
}

.Logo{
    padding: 50px;
    float: left;
}

.Login{
   float: right;
   background-color: #303030;
}

.Busca{
    margin-top: 15px;   
    text-align: center;
           
}
#Serv{
    background-color: #303030;
    color: #f6e7d8;
    border-radius: 5px;
    outline: 0px;
    border-color: transparent;
    padding: 5px;
}

.pais{
    margin: 0px;
    padding: 5px;
    color: #f6e7d8;
}
#Pais{
    background-color: #303030;
    max-width: 150px;
    color: #f6e7d8;
    border-radius: 5px;
    outline: 0px;
    border-color: transparent;
    padding: 5px;
}
#Estado{
    background-color: #303030;
    max-width: 150px;
    color: #f6e7d8;
    border-radius: 5px;
    outline: 0px;
    border-color: transparent;
    padding: 5px;
}
#Buscar{
    background-color: #07a5c3;
    padding: 8px;
    border-radius: 3px;
    border: none;
    color: #f6e7d8;
    font-size: 13px;
    font-weight: 500;
    text-shadow: 2px 2px 5px #303030;

}

#Buscar a{
    text-decoration: none;
}
#Buscar:hover{
    background-image: linear-gradient(to right, #07a5c3, #78b5c2 );
    cursor: pointer;
}

h1{
    font-size: 40px;
}

.ajuda{
    font-size: 15px;
}

.cadastro{
    font-size: 12px;
    margin: 40px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.buttonCC{
    background-color: #f4b324;
    color: #303030;
    border-radius: 20px;
    width: 330px;
    margin: 10px;
    box-shadow: 3px 3px 3px #303030;
    padding: 20px;
    border: 0px;
    
}

.buttonCP{
    background-color: #f4b324;
    color: #303030;
    border-radius: 20px;
    width: 330px;
    margin: 10px;
    box-shadow: 3px 3px 3px #303030;
    padding: 20px;
    border: 0px;
}

.btn button:hover{
    background-image: linear-gradient(to right, #f4b324, #f14902);
    cursor: pointer;
}

h2{
    margin-top: 0px;
}


@media (max-width: 600px){
    
body{
    background-color:#1c191a;
    color:#f6e7d8;
    font-family: Helvetica;
    font-size: 16px;
}



.menu{
    background-color: #303030;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas: "cabecalho cabecalho";
    
}

.Logo{
    padding: 30px;
    margin: auto;
    
}

.Login{
   float: right;
   background-color: #303030;

}

.Busca{
    width: 100%;
    margin-top: 15px;   
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
         
}

.input{
    background-color: #30303050;
    outline: 0px;
    padding: 3px;
    width: 60%;
    color: #f6e7d8;
    
}

.Bbusca{
    width: 10%;
    background-color: #303030;
    border-radius: 5px;
    margin-left: 3px;
    color: #f6e7d8;
}

h1{
    font-size: 40px;
}

.ajuda{
    font-size: 15px;
}

.cadastro{
    font-size: 12px;
    margin: 40px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.buttonCC{
    background-color: #f4b324;
    color: #303030;
    border-radius: 20px;
    width: 330px;
    margin: 10px;
    box-shadow: 3px 3px 3px #303030;
    padding: 20px;
    border: 0px;
    
}

.buttonCP{
    background-color: #f4b324;
    color: #303030;
    border-radius: 20px;
    width: 330px;
    margin: 10px;
    box-shadow: 3px 3px 3px #303030;
    padding: 20px;
    border: 0px;
}

.btn button:hover{
    background-image: linear-gradient(to right, #f4b324, #f14902);
}

h2{
    margin-top: 0px;
}
}