body
{
    background-color:#1c191a;
    color:#f6e7d8;
    font-family: Helvetica;
    font-size: 16px;
}
.LC
{
  margin: 0px auto;
  position: relative
}
.content{
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;   
  }
h1{
    font-size: 48px;
    color: #07a5c3;
    padding: 2px 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }
  p{
    margin-bottom:15px;
  }
   
  .content p:first-child{
    margin: 0px;
  }
   
  label{
    color: #405c60;
    position: relative;
  }
  /* placeholder */
::-webkit-input-placeholder  {
    color: #303030; 
    font-style: italic;
  }
   
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  }
  input {
    outline: none;
  }
   
  /*estilo dos input,  menos o checkbox */
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #07a5c3;
   
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit */
  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #07a5c3;
    padding: 8px 5px;
    color: #f6e7d8;
    font-size: 20px;  
    border: 1px solid #07a5c3;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #303030;
   
    -webkit-border-radius: 5px;
    border-radius: 5px;
   
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit no hover */
  input[type="submit"]:hover
  {
    background: #07a5c3;
  }
  .link{
    position: absolute;
    background: #ffffff;
    color: #303030;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #07a5c3;
   
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
   
  .link a 
  {
    font-weight: bold;
    background: #ffffff;
    padding: 6px;
    color: #07a5c3;
    margin-left: 10px;
    border: 1px solid #f4b324;
   
    -webkit-border-radius: 4px;
    border-radius: 4px;  
   
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
   
  .link a:hover {
    color: #07a5c3;
    background: #ffffff;
    border: 1px solid #07a5c3;
  }
  #login{
    position: absolute;
    top: 0px;
    width: 88%;   
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: #ffffff;
    border: 1px solid #07a5c3;
     
    -webkit-box-shadow: 5px;
    border-radius: 5px;
     
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
   
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  #paralogin:target ~ .content #login{
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
   
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  }
  /*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
   
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
   
  /*fadeOutLeft*/
  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
   
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }