html{
    height: 98%;
    width: 100%;
}

body{
    background-color: #1c191a;
    font-family: Helvetica;
    min-height: 100%;
    position: relative;
}


header{
    background-color: #303030;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas: "cabecalho cabecalho";
    
}

.Logo{
    padding: 50px;
    float: left;
}

fieldset{
    margin: 20px;
    color: #f6e7d8;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

label{
    color: #f6e7d8;
}

#servico{
    border-radius: 5px;
    outline: 0px;
    border-color: transparent;
    background-color: #303030;
    color: #f6e7d8;
    padding: 3px;
    margin: 15px 5px;
}

#Descrição{
    background-color: #303030;
    color: #f6e7d8;
    width: 40%;
    border-radius: 5px;
    outline: 0px;
    border-color: transparent;
    padding: 3px;
}

#Adicionar{
    background-color: #07a5c3;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: #f6e7d8;
    font-size: 13px;
    font-weight: 300;
    text-shadow: 2px 2px 5px #303030;
}

footer{
    width: 100%;
    bottom: 0;
    position: absolute;
}
#Enviar{
    float: right;
    background-color: #f4b324;
    border: 0px;
    color: #303030;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 5px 5px 10px #303030;
    margin: 10px;
    text-shadow: 1px 1px 5px #303030;
}
#Enviar:hover{
    background-image: linear-gradient(to right, #f4b324, #f14902);
}

h2{
    background-color: #f4b324;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    padding: 10px;
    color: #1c191a;
    margin-bottom: 10px;
}

#Serv{
    margin: 10px 20px;
    color: #f6e7d8;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

#Valor{
    color: #f6e7d8;
    padding: 15px;
    margin-left: 30px;
}
th, tr, td{
    text-align: center;
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table, th, td {
    border: 1px solid #f6e7d8;
}
th{
    color: #f4b324;
    background-color: #303030;
}

input[type="number"]{
    width: 90%;
    font-size: 15px;
    color: #f6e7d8;
    background-color: transparent;
    border-color: transparent;
    outline: 0px;
}

input:hover{
    cursor: pointer;
}

@media (max-width:600px){
    .Logo{
        text-align: center;
    }
}